/* Home Container */
.home {
  padding: 30px;
  background: #1d2e1b; /* Dark background for cinematic feel */
  min-height: 100vh;
  color: white;
}

.fullmovie-list{
    display: flex;
    gap: 3rem;
}

.genre-list{
    flex: 0 0 220px;
}

.genres {
    list-style: none;
    
}

.genres a {
    font-size:large;
    display: block;
    color: #ccc;
    padding: 0.6rem 0.75rem;
    border-radius: 6px;
    margin-bottom: 4px;
    font-weight: 200;
    transition: background-color 0.2s;
    text-decoration: none;
}

.genres a:hover {
    color: white;
}


.movie-list{
    
    border-radius: 40px;
    padding: 20px;
    flex-grow: 1;
    background-color: #132013;
}

/* Search Form */
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-input {
  background-color: #264026;
  color: #ccc;
  font-weight: 550;
  width: 300px;
  padding: 10px 15px;
  border-radius: 6px 0 0 6px;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);;
  outline: none;
  font-size: 1rem;
}

.search-button {
  padding: 10px 20px;
  background: #132013; /* Netflix red */
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-button:hover {
  background: #264026;
}

/* Error Message */
.error-msg {
  color: #ff5555;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Loading */
.Loading {
  color: #ccc;
  text-align: center;
}

/* Movie Grid */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 2em;
}
