/* NavBar Styling */
header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}


/* Logo */
.left-content a {
  color: #edecec; /* Netflix red */
  font-size: 1.5rem;    
  font-weight: bold;
  text-decoration: none;
}

/* Navigation Links */
.rigth-content a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s ease;  
}

.rigth-content a:hover {
    text-decoration: dashed;
    text-decoration-color: aliceblue;
}
